.body{
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
}

html, body, #app, #app>div, #root, .container{
  margin:0px;
  height: 100%;
  background-color: lightgray;
}

.container{
  padding-top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 10px;
}

/* .botbar {
  position: fixed;
  bottom: 0
} */